In [9]:
import os
import json

from nlinec.data.load import get_positive_data
from nlinec.utils import get_data_dir

from tqdm import tqdm

In [2]:
data = get_positive_data('augmented_train.json')

793487it [00:10, 76304.08it/s]

In [3]:
data

,type,mention_span,sentence
0,/other,the history and science of aviation and spacef...,"Located in Washington, D.C., United States, it..."
1,/other,his debut,"The seventh child of the Jackson family, he ma..."
2,/location/country,We,We did not do anything at that time.
3,/location,We,We did not do anything at that time.
4,/other,antibody,`` We don't know the effect of our antibody on...
...,...,...,...
1865003,/other/art/film,his films,"As a boy, he donated his Bar Mitzvah money to ..."
1865004,/other,his films,"As a boy, he donated his Bar Mitzvah money to ..."
1865005,/other/art,his films,"As a boy, he donated his Bar Mitzvah money to ..."
1865006,/other/art,"Japanese martial arts classes such as Aikido ,...",Sensei is often used to address the teacher in...
1865007,/other,"Japanese martial arts classes such as Aikido ,...",Sensei is often used to address the teacher in...

In [4]:
# Find the most ambiguous entities
ambiguity_index = {}
for i, row in tqdm(data.iterrows(), total=len(data)):
    # If the entity is not in the index, add an empty dict for its types
    if row['mention_span'] not in ambiguity_index:
        ambiguity_index[row['mention_span']] = {}

    # If the entity type is not in the index, add an empty count
    if row['type'] not in ambiguity_index[row['mention_span']]:
        ambiguity_index[row['mention_span']][row['type']] = 0

    # Increment the count
    ambiguity_index[row['mention_span']][row['type']] += 1

100%|██████████| 1865008/1865008 [00:30<00:00, 60597.56it/s]

In [5]:
# Find the most ambiguous entities, i.e. the ones with the most types
ambiguity_index = {k: v for k, v in sorted(ambiguity_index.items(), key=lambda item: len(item[1]), reverse=True)}

In [10]:
with open(os.path.join(get_data_dir(), 'ambiguity_index.json'), 'w') as f:
    json.dump(ambiguity_index, f, indent=4)